:root{
  --color-primary:  #FD377E;
  --color-primary-2:#E34981;
  --color-secundary:#03B898;

  --gray-4:#212529;
  --gray-3:#868E96;
  --gray-2:#E9ECEF;
  --gray-1:#F8F9FA;

  /* font */
  --font: 'Nunito', sans-serif;

  /* font-size  */
  --f-size-1:28px;
  --f-size-2:24px;
  --f-size-3:20px;
  --f-size-4:16px;
  --f-size-5:12px;

  /* font-weight */
  --f-bold:700;
  --f-regular:400;

  /* config text */
  --title-1: var(--f-bold)    var(--f-size-1) var(--font);
  --title-2: var(--f-bold)    var(--f-size-2) var(--font);
  --title-3: var(--f-bold)    var(--f-size-3) var(--font);
  --title-4: var(--f-bold)    var(--f-size-5) var(--font);
  --body:    var(--f-regular) var(--f-size-5) var(--font);
  --headline:var(--f-regular) var(--f-size-4) var(--font);

}

